{
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 140,
	"trailingComma": "none",
	"quoteProps": "preserve",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.xml",
			"options": {
				"printWidth": 300
			}
		},
		{
			"files": "*.md",
			"options": {
				"proseWrap": "preserve"
			}
		},
		{
			"files": "*.jsonv",
			"options": {
				"parser": "jsonv"
			}
		}
	],
	"plugins": ["@cldmv/prettier-plugin-jsonv"]
}
